<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
     <nav>
         <div class="logo">
             <p>BANKING WEBSITE</p>
         </div>

        <ul>
            <li><a href="lastpage.html">Log in</a></li>
            <li><a href="register.html">Register</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Branches <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Trivandrum</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Alappuzha">Alleppey</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Kannur">Kannur</a></li>
                </ul>
            </li>
        </ul>

     </nav>
     <div class="content-items">
         <img src="/static/images/background.jpg" alt="">
         <a href="nextpage.html" class="button">Log in</a>
     </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</body>
</html>
